@import "tailwindcss";

:root {
  --background: #fbfbfb;
  --foreground: #0a0a0a;
  --primary: #4b2177;
  --secondary: #ff9900;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  font-family: var(--font-proxima-nova), sans-serif;
  background: var(--background);
}

.font-aquino {
  font-family: var(--font-aquino), sans-serif;
}

.font-proxima-bold {
  font-family: var(--font-proxima-nova-bold), sans-serif;
}

.bg-primary {
  background-color: var(--primary);
}
.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.scroll-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */
}

.scroll-hide::-webkit-scrollbar {
  display: none; /* Chrome и Safari */
}

html {
  scroll-padding-top: 100px; /* или сколько нужно */
}
